[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
"line-bot-sdk"="1.17.0"
"flask"="1.1.2"
"numpy"="1.18.5"
"gensim"="3.8.3"
"pymysql"="0.10.1"
"flask_sqlalchemy"="2.4.4"
"flask_bootstrap"="*"
"confluent-kafka"="1.5.0"
"opencv-python"="4.4.0"
"tensorflow-gpu"="2.2.0"
"Pillow"="8.0.0"
"matplotlib"="3.3.2"
"keras"="2.3.1"
"jupyter"="1.0.0"
"cryptography"='*'
"redis"="*"

[requires]
python_version = "3.7"
